*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*Fuentes*/
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


/*Responsive para tamaño pqueño*/
header{
    background-color: white;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*Boton de registro*/

/*paraque seccion se centre y ponga margen automatico*/
.container{
    max-width: 1400px;
    margin: auto;
}

#imagen_logo{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(8, 8, 8, 0.5),
        rgba(7, 7, 7, 0.5)
    )
    ,url("../imagenes/fondo_curso_integral_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Color de texto logo*/
#imagen_logo h1{
    color: rgb(252, 248, 248);
}
/*Color de texto y tamaño logo*/
#imagen_logo button{

    font-size: 2em;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(43, 226, 134);
}

/*Seccion descripcion */

#descripcion_curso .container{
    text-align: left;
    padding: 200px 12px;
}

/*Seccion descripcion temas*/


#cursos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#cursos.container{
    padding: 150px 12px;
}

#cursos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

    /*Agrega imagen*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/fondo.jpg");
}



/*Tamaño minimo de pantalla  para web*/
@media (min-width: 700px){
  

    #descripcion_curso .container{
        display: flex;
        justify-content: space-evenly;
    }

    #descripcion_curso .img-container{
        background-image: url("../imagenes/fondo.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #cursos .flexible{
        display: flex;
        justify-content: center;
    }

    #cursos p{
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #cursos h2{
        font-size: 4em;
    }

    #cursos h3{
        margin-top: 0;
    }

    #cursos .carta{
        padding: 20px;
        background-size: 100% 200px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/fondo.jpg");

    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

