@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
} */
.icono-azul{
    /* font-size: 2.5em; */
    color: cornflowerblue;
    margin: 5px;
    /* vertical-align: bottom; */
}
.icono-naranja{
    /* font-size: 3em; */
    color: #f28482;
    margin: 5px;
}
.icono-amarillo{
    color: #e9c46a;
    margin: 5px;
}
.icono-rojo{
    color:crimson;
    margin: 5px;
}
.icono-verde{
    color: green;
    margin: 5px;
}